
.header_contenedor{
    min-height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    justify-items: center;
    align-items: center;
}

.header_contenedor::before {
    content: '';
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 6px 1px rgb(98 98 98 / 62%);
  }

.header_mitotem{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header_mitotem_contenedor{
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.header_mitotem_img{
    height: 50px;
    width: 60px;
    display: grid;
    justify-content: end;
    align-items: end;
}

.header_mitotem_title{
    text-transform: uppercase;
    color: #9b9b9b;
}

.header_ingresar{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header_ingresar_button{
    display: grid;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: #F01616;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
}