.section__dashboard__container {
  display: grid;
  grid-template-areas: "section5 section3 section4";
  font-family: 'Roboto', sans-serif;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  grid-gap: 16px;
}

.section__dashboard__container1 {
  
  display: grid;
  grid-template-areas: "section1 section2";
  grid-template-columns: 1.5fr 1.5fr;
  grid-gap: 30px;
}

.section_structure {
  display: flex;

  background-color: #fff;


  border-radius: 5px;


  display: flex;
  flex-direction: column;

  padding: 10px;

}

.dashboard_resume_data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.dashboard_resume_data h3 {

  font-size: 1.6rem;
  font-weight: 500;
}

.section1 {
  grid-area: section1;
  text-align: center;
  background-color: #232c3d;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.section2 {
  grid-area: section2;
  text-align: center;
  background-color: #232c3d;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.section3 {
  grid-area: section3;
  text-align: center;
}

.section4 {
  grid-area: section4;
  text-align: center;
}

.section3, .section4, .section5 {
  padding: 1.2rem 0;
  background-color: #232c3d;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.section5 {
  grid-area: section5;
  text-align: center;
}

.section1, .section2, .section3 ,.section4, .section5  {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
}



.sideSection {
  grid-area: sideSection;
  background-color: #7af05f;
  grid-row: 1 / span 3;
}

.icon_up {
  background-color: #e3f8dd;
  display: inline;
  font-size: 10px;
  padding: 0.1rem 0.3rem;
  border-radius: 100%;
}

.dashboard_data {
text-align: center;
font-weight: bold;
}

.icon_up span {
  color: #53e72a;
  font-size: 10px;
}

.icon_up {
  text-align: center;

}

.data_span {
  font-weight: bold;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;

}

.data_p {
  color: #3a3939cc;
  display: flex;
  width: 100%;
  justify-content: center;
}

.data_p span {
  font-weight: bold;
 

}

.dashboard_totem {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  font-size: 1.3rem;
  margin: auto;
  justify-content: space-between;
}

.dashboard_totem p {
  color: white;
  font-weight: bold;
}

.dashboard_totem span {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
  padding: 0.3rem;
}

.logo_totem {
  display: flex;
  justify-content: center;
  margin: 10px;
}

/* GRAFICOS */


.dashboard_charts {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.item__dashboard__charts {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  gap: 25px;
 
}

.item__dashboard__charts div {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
  border-radius: 5px;
}

.item__dashboard__charts div img {
  display: block;
}

