.container__precio {
  display: flex;
  justify-content: center;
}

.container__precio div {
  padding: 3rem 4rem;
  background-color: rgb(229, 231, 231);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.container__button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container__button button {
  padding: 10px 30px;
  border-radius: 8px;
  background: #007bff;
  box-shadow: 0px 1px 2px 0px rgba(111, 112, 114, 0.05);
  color: var(--base-white, #FFF);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  border: none;
  cursor: pointer;
}