.container__1 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0.5rem 0;
}

.container__2  {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container__2 button {
  padding: 10px 30px;
  border-radius: 8px;
  background: #28a745;
  box-shadow: 0px 1px 2px 0px rgba(111, 112, 114, 0.05);
  color: var(--base-white, #FFF);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  border: none;
  cursor: pointer;
}