.container {
	width: 100%;
	height: 100vh;
	background-image: url("https://images.unsplash.com/photo-1500595046743-cd271d694d30?auto=format&fit=crop&q=80&w=1474&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-position: center;
	background-size: cover;
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.5); 
	
	display: flex;
	justify-content: center;
	align-items: center;
  }